.navbar {
    margin-bottom: 5px;
}
pre {
    font-size: 14px;
}

.colored-hr {
    border-top-color: #C9C9AD
}

.back-to {
    bottom: 35px;
    overflow: hidden;
    position: fixed;
    right: 10px;
    width: 110px;
    z-index: 999;
}
.back-to .back-top {
    background: url("/asset/image/back-top.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: right;
    height: 50px;
    margin-left: 10px;
    outline: 0 none;
    text-indent: -9999em;
    width: 50px;
}
.back-to .back-top:hover {
    background-position: -50px 0
}

#main-left {
}

#main-right {
}

.no-margin {
    margin: 0
}

.small-margin {
    margin-top: 2px;
    margin-bottom: 2px;
}
.middle-margin {
    margin-top: 4px;
    margin-bottom: 4px;
}


.normal-a {
    cursor: default;
}


/* header */
span#site_name {
    font-size: 32px;
    font-weight: bold;
    color: #AE33CC;
}

span#site_description {
    font-size: 12px;
    color: #E3BDA4;
}

.side-cat-ul {
    list-style-type: none;
    margin: 0;
    margin-left: 20px;
    padding: 0;
}

.side-cat-ul li {
    line-height: 28px;
    font-size: 16px;
}

.side-cat-ul li a:hover {
}

.miaodian {
    height: 15px;
}

.post-card, .cat-card {
    border: 1px solid #6F6F91;
    border-left-width: 6px;
}
.post-card .content ul#markdown-toc {
    display: none;
    height: 0;
    margin: 0;
    padding: 0;
}

.cat-card {
    padding: 15px;
    margin: 0;
    border-left-color: #DDB822;
    border-radius: 3px;
}

.cat-card .content .date {
    font-size: 15px;
    color: #AAA;
    margin-right: 8px;
}

.cat-card .content ul {
    list-style-type: none;
    margin: 0;
    margin-left: 10px;
    padding: 0;
}

.cat-card .content ul li {
    font-size: 15px;
    line-height: 27px;
}


.cat-card .head .title {
    font-weight: bold;
    font-size: 30px;
    color: #523636;
}


.cat-card .head, .post-card .head {
    padding-bottom: 5px;
}


.post-card {
    padding: 15px;
    margin: 25px 0;
    border-left-color: #d9534f;
    border-radius: 3px;
    background-color: #DDD;
}

.post-card .head .title {
    font-weight: bold;
    font-size: 20px;
}
.post-card .head .date {
    color: #AAA;
    font-size: 12px;
    margin-left: 10px;
}
.post-card .more {
    font-weight: bold;
    font-size: 14px;
}

.pagi-total {
    margin-top: 0px;
    margin-bottom: 2px;
}


.older-posts-link a, .newer-posts-link a {
    margin: 0 15px;
    padding: 8px;
    border: 1px solid #BBB;
    font-size: 18px;
    font-weight: bold;
    background-color: green;
    color: white;
}
.older-posts-link a:hover, .newer-posts-link a:hover {
    color: red;
    background-color: #D2D282;
}

.page {
    background-color: #444;
    color: #eee;
    padding: 15px;
    border-radius: 3px;
}
.page h1 {
    color: #F7C709;
}
.page h2 {
    color: #09C7F7;
}
.page h3 {
    color: #BF76F0;
}
.page h4 {
    color: #5DC472;
}
.page h5 {
    color: #F6F680;
}
.page strong {
    color: #FF33AD;
}
.page .head {
    margin-top: 5px;
}
.page .head .title {
    font-size: 34px;
    font-weight: bold;
}
.page .head .date {
    font-size: 16px;
    color: #AAA;
    margin-left: 8px;
}
.page .content {
    font-size: 120%;
}
.page table {
    border: 1px solid #dddddd;
    border-left: none;
    border-top: none;
    margin-bottom: 8px;
}
.page table th, .page table td {
    border-left: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    border-right: none;
    border-right: none;
    padding: 5px;
    padding-right: 12px;
}
.page table th {
    font-weight: bold;
}

.page .author-date {
    font-size: 18px;
    margin-bottom: 5px;
}
.page .author-date .date {
    margin-right: 40px;
}
