---
title: kissdata &#58; keep it simple &#38; stupied by data
layout: default
comments: false
---

<h1>{{ page.title }}</h1>

<hr class="small-margin" />

<div>
    {% for post in paginator.posts %}
    <div class="post-card">
        <div class="head"><a href="{{ post.url }}"><span class="title">{{ post.title }}</span></a><span class="date">{{ post.date | date:"%Y-%m-%d" }}</span></div>
        <div class="content">{{ post.excerpt }}</div>
        <div class="more text-right"><a href="{{ post.url }}">继续阅读全文</a></div>
    </div>
    {% endfor %}
</div>

<div>
    <ul class="pagination">
        {% if paginator.previous_page %}
            {% if 1 == paginator.previous_page %}
                <li><a href="/">&laquo;</a></li>
            {% else %}
                <li><a href="/page{{ paginator.previous_page }}" title="previous page">&laquo;</a></li>
            {% endif %}
        {% endif %}

        {% capture tt %}{{ paginator.page | minus:6 }}{% endcapture %}
        {% capture uu %}{{ tt | split:"-" | size }}{% endcapture %}
        {% if "2" == uu %}
            {% assign count_start = 1 %}
        {% endif %}
        start:{{ uu }}:{{ count_start }}


        {% capture pp %}{{ paginator.page | plus:6 | minus:paginator.total_pages }}{% endcapture %}
        {% capture qq %}{{ pp | split:"-" | size }}{% endcapture %}
        end:{{ qq }}

        {% for count in (1..paginator.total_pages) %}
            {% if count == paginator.page %}
                <li class="active"><span>{{ count }}<span class="sr-only">(current)</span></span></li>
            {% elsif 1 == count %}
                <li><a href="/">1</a></li>
            {% else %}
                <li><a href="/page{{ count }}">{{ count }}</a></li>
            {% endif %}
        {% endfor %}

        {% if paginator.next_page %}
            <li><a href="{{ paginator.next_page_path }}" title="next page">&raquo;</a></li>
        {% endif %}
    </ul>
</div>
<div class="pagi-total">
总共 {{paginator.total_posts }} 篇
</div>
