<footer>
    <p>
        <small>Copyright 2014 - {{site.time | date:"%Y"}} | Gen time&#58; <span class="label label-info">{{site.time | date:"%Y-%m-%d %H:%M:%S %Z"}}</span></small>
        <br/>
        <small>{{ site.data.conf.footer_description }}</small>
        <br/>
        <!-- cnzz -->
		<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_{{ site.data.conf.cnzz_id }}'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s6.cnzz.com/z_stat.php%3Fid%3D{{ site.data.conf.cnzz_id }}%26show%3Dpic2' type='text/javascript'%3E%3C/script%3E"));</script>

        <!-- kp747 -->
        <script type="text/javascript"> 
            document.write("<script src='http://c.kp747.com/k.js?id={{ site.data.conf.kp747_id }}&ref=" + encodeURIComponent(document.referrer) + "' \></script\>");
        </script>
    </p>

</footer>
