<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <hr class="colored-hr" />

                <p class="text-center">
                Copyright 2014 - {{site.time | date:"%Y"}} | Gen time&#58; {{site.time | date:"%Y-%m-%d %H:%M:%S %Z"}}

                {% if site.cnzz_id %}
                <!-- cnzz -->
                <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_{{ site.cnzz_id }}'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s6.cnzz.com/z_stat.php%3Fid%3D{{ site.cnzz_id }}%26show%3Dpic2' type='text/javascript'%3E%3C/script%3E"));</script>
                {% endif %}

                </p>

                {% if site.kp747_id %}
                <!-- kp747 -->
                <script type="text/javascript"> (function(_onload) { window.onload = function(){ typeof _onload =="function"?_onload():{}; var s= document.createElement('script');s.src="http://c.kp747.com/k.js?id={{ site.kp747_id }}&ref="+encodeURIComponent(document.referrer); document.body.appendChild(s); } })(window.onload); </script>
                {% endif %}

            </div>
        </div>
    </div>
    <div style="display:none;" class="back-to" id="toolBackTop">
        <a title="返回顶部" onclick="window.scrollTo(0,0);return false;" href="#top" class="back-top">返回顶部</a>
    </div>
</div>
