<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="author" content="{{ site.author }}" />
        <meta name="viewport" content="width=device-width"> 
        <title>{{ page.title }} | {{ site.data.conf.site_name }}</title>
        <link href="/feed.html" rel="alternate" title="{{ site.author }}" type="application/atom+xml" />
        <link rel="shortcut icon" href="/favicon.ico"/>
        <link rel="icon" href="/favicon.ico"/>

        <link rel="stylesheet" href="/media/css/highlight.css">
        <link href='/media/webfonts/ss-social.css' rel='stylesheet'>
        <link href='/media/webfonts/ss-standard.css' rel='stylesheet'>

        <script language="JavaScript"><!--
            if (navigator.userAgent.match(/iPhone|iPod|Android|IEMobile/i)) {
                document.write("<link href=\"/media/css/screen-mobil.css\" rel=\"stylesheet\">");
                } else {
                document.write("<link href=\"/media/css/screen.css\" rel=\"stylesheet\">");
            }
            // -->
        </script>
        <script type="text/javascript" src="/media/js/jquery-1.11.1.min.js"></script>

    </head>
    <body>
        <div id="container">
            <div id="main" role="main">
                <header>
                <div class="buttons">
                    <a href="/" class="ss-icon" title="Go to homepage">home</a>
                    <a href="/categories.html" class="ss-icon" title="Category" >list</a>
                    <a href="/tags.html" class="ss-icon" title="Tag Cloud" >tags</a>
                    <a href="/guestbook.html" class="ss-icon" title="Guest Book" >talk</a>
                    <a href="/about.html" class="ss-icon" title="About" >user</a>
                    <a href="/feed.html" class="ss-icon" title="Subscribe by RSS" >rss</a>
                </div>
                <h2>{{ page.title }}</h2>
                </header>
                <hr>
                <article class="content">
                {{ content }}
                </article>
            </div>

            {% include footer.html %}

        </div>
    </body>
</html>
